@media only screen and (max-width: 1024px){

.container {
    width: 100%; 
}
}
.img{ 
    width: 35%;
}


.btn {
    margin-top: 10px; 
    margin-left: 45px; 
}

.main {
    display: inline-block; 
    align-items: center;
    padding: 300px; 
    margin-left: 550px;  
    
}
.header {
    margin-left: 45px; 
}